---
const today = new Date();
---

<footer>
        <p><strong>The Medicality</strong> — luxury hospitality for healthcare.</p>
        <p>&copy; {today.getFullYear()} The Medicality. All rights reserved.</p>
</footer>
